/* GENERAL */
body {
    margin: 0;
    background-color: rgb(221, 216, 232);

}
#main {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    margin: 1rem;
}

/* HEADER */
#title {
    font-size: 3em;
    text-align: center;
    color: rgb(35, 23, 86);
}

#top {
    background-color: rgb(151, 169, 208);
    display: flex;
    margin: 2rem;
    padding: 0.5rem;
    color: rgb(44, 40, 115);
    border-radius: 2rem;
}

#sub-title {
    font-size: 3em;
    padding: 2rem;
    text-align: center;
    flex: 1 1 60%;
    align-self: center;
}

#img-div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1 1 40%;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    width: 15rem;
    border-radius: 4.5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 1rem;
}

#img-caption {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: left;
}

/* MAIN CONTENT */
#tribute-info {
    display: flex;
    flex-direction: column;
}

#tribute-title {
    text-align: center;
    font-size: 2em;
}

/* TIMELINE */
#tribute-timeline {
    display: flex;
    flex-direction: column;
    align-items: center; /*why is this centering the ul when it should be the justify one that does ?*/
    
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";  /*CSS Code/unicode for a bullet */
    color: rgb(167, 115, 176);
    display: inline-block;  
    width: 1.5em; 
    margin-left: -1.5em; 
}

#tribute-quote {
    text-align: center;
    margin: 2rem;
    
}

/* FOOTER */
#bottom {
    text-align: right;
}

/* MEDIA QUERY */
@media screen and (max-width: 700px) {
    body {
        font-size: 10px; /*need to check if correct on real mobile*/
    }
    #top {
        flex-direction: column;
        margin: 0;
    }
    #sub-title {
        padding: 1rem;
    }
    #img-div {
        padding: 1rem;
    }
}